body {
  font-family: "Gilroy";
  background: #44403F;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-ExtraBold.otf);
}
@font-face {
  font-family: "Gilroy-light";
  src: url(../fonts/Gilroy-Light.otf);
}
.search__field {
  border: none;
  outline: none;
  background: none;
  height: 30%;
}

.header__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding: 14px 17px;
  border-radius: 10px;
  background: #504B4A;
}
@media screen and (max-width: 660px) {
  .header__search {
    flex-basis: 100%;
    order: 2;
    margin-top: 20px;
  }
}
@media screen and (max-width: 300px) {
  .header__search {
    margin-top: 5px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  gap: 50px;
  height: 100px;
}
@media screen and (max-width: 660px) {
  .header {
    margin-top: 27px;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.header__phone-number {
  display: flex;
  font-family: "Gilroy-light";
  gap: 15px;
}
@media screen and (max-width: 930px) {
  .header__phone-number {
    display: none;
  }
}

.header__phone-number, .btn__basket,
.header__title {
  font-family: "Gilroy";
}
@media screen and (max-width: 300px) {
  .header__phone-number, .btn__basket,
  .header__title {
    margin-right: 50px;
  }
}

.contact {
  background: #618967;
  padding: 10px;
  border-radius: 50%;
}
@media screen and (max-width: 930px) {
  .contact {
    display: none;
  }
}

@media screen and (min-width: 930px) {
  .btn__contact {
    position: absolute;
    right: 5px;
  }
}
@media screen and (min-width: 930px) {
  .btn__contact {
    background: #ffffff;
    color: #618967;
    padding: 10px 13px;
    border-radius: 50%;
  }
}
@media screen and (max-width: 930px) {
  .btn__contact {
    display: none;
  }
}

.line {
  min-height: 40px;
  width: 2px;
  background: white;
}
@media screen and (min-width: 930px) {
  .line {
    display: inline;
    position: absolute;
    right: 45px;
  }
}
@media screen and (max-width: 930px) {
  .line {
    display: inline;
    min-height: 63px;
    position: absolute;
    left: 40px;
    transform: rotate(90deg);
    opacity: 0.3;
  }
}

.btn__svg {
  display: none;
}
@media screen and (max-width: 930px) {
  .btn__svg {
    display: block;
    position: absolute;
    top: 10px;
    left: 30px;
  }
}

.header__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Gilroy";
  gap: 15px;
  background: #618967;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 30px 60px;
}
@media screen and (min-width: 930px) {
  .header__btn {
    position: relative;
  }
}
@media screen and (max-width: 930px) {
  .header__btn {
    padding: 40px 40px;
    position: relative;
  }
}
@media screen and (max-width: 300px) {
  .header__btn {
    margin-top: 10px;
  }
}

.btn__basket {
  position: absolute;
}
@media screen and (min-width: 930px) {
  .btn__basket {
    position: absolute;
    left: 15px;
  }
}
@media screen and (max-width: 930px) {
  .btn__basket {
    top: 50px;
    left: 15px;
  }
}

.wrapper {
  border-bottom: 1px solid grey;
}
@media screen and (max-width: 660px) {
  .wrapper {
    border-bottom: none;
  }
}

::placeholder {
  width: 100%;
  font-family: "Gilroy-light";
}

.header__hamburger {
  display: block;
  justify-content: center;
  align-items: center;
}

.header__menu {
  color: #FFF;
  font-family: "Gilroy-light";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
}
.header__menu.is-active {
  display: none;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #65906C;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #65906C;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--slider .hamburger-inner {
  top: 2px;
}
.hamburger--slider .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}
.hamburger--slider .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}
.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

/* * Slider Reverse
 * */
.hamburger--slider-r .hamburger-inner {
  top: 2px;
}
.hamburger--slider-r .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}
.hamburger--slider-r .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}
.hamburger--slider-r.is-active .hamburger-inner::before {
  transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
  opacity: 0;
}
.hamburger--slider-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(90deg);
}

.hamburger {
  display: none;
  position: relative;
}
@media screen and (max-width: 930px) {
  .hamburger {
    display: block;
  }
}

.header__menu {
  display: none;
  position: absolute;
  top: 65px;
  left: 29px;
}
@media screen and (max-width: 930px) {
  .header__menu {
    display: block;
  }
}
@media screen and (max-width: 660px) {
  .header__menu {
    top: 80px;
  }
}
@media screen and (max-width: 300px) {
  .header__menu {
    top: 70px;
  }
}

.banner {
  margin-top: 44px;
}
@media screen and (max-width: 930px) {
  .banner {
    justify-content: center;
  }
}
@media screen and (max-width: 300px) {
  .banner {
    margin-top: 110px;
    position: relative;
  }
}

.banner__content {
  display: flex;
  gap: 10px;
  align-items: center;
}

.banner__arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: #618967;
  border-radius: 50%;
}
@media screen and (max-width: 660px) {
  .banner__arrow {
    position: absolute;
    z-index: 4;
    top: 214px;
    left: 34px;
  }
}
@media screen and (max-width: 300px) {
  .banner__arrow {
    opacity: 0.8;
    position: absolute;
    top: 34px;
    left: 24px;
  }
}

.banner__title {
  color: #FFF;
  font-family: "Gilroy";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
}
@media screen and (max-width: 660px) {
  .banner__title {
    display: none;
  }
}

.banner__card {
  margin-top: 28px;
}

.banner__card-picture {
  max-width: 599px;
  max-height: 399px;
}
@media screen and (max-width: 930px) {
  .banner__card-picture {
    max-width: 899px;
    max-height: 899px;
  }
}
@media screen and (max-width: 660px) {
  .banner__card-picture {
    position: relative;
  }
}

.banner__card-img {
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}
@media screen and (max-width: 930px) {
  .banner__card-img {
    border-radius: 10px 10px 0px 0px;
  }
}

.banner__card-items {
  display: flex;
  border-radius: 10px;
  background: #504B4A;
  max-width: 1410px;
  max-height: 399px;
}
@media screen and (max-width: 930px) {
  .banner__card-items {
    display: block;
    max-width: 899px;
    max-height: 1000px;
  }
}

.banner__card-desc {
  margin-top: 38px;
  margin-left: 50px;
}
@media screen and (max-width: 1060px) {
  .banner__card-desc {
    margin-left: 10px;
  }
}

.banner__card-title {
  color: #fff;
  font-family: "Gilroy";
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 700;
}

.banner__card-paragraph {
  max-width: 450px;
}

.banner__card-info {
  color: #CFCFCF;
  font-family: "Gilroy-light";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
}

.banner__card-kilo {
  margin-top: 113px;
  color: #FFF;
  font-family: "Gilroy-light";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
}
@media screen and (max-width: 930px) {
  .banner__card-kilo {
    margin-top: 80px;
  }
}

.banner__card-buyandprice {
  display: flex;
  gap: 25px;
}
@media screen and (max-width: 1060px) {
  .banner__card-buyandprice {
    gap: 5px;
  }
}

.banner__btn {
  margin-top: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Gilroy-light";
  gap: 25px;
  background: #618967;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 35px;
}

.banner__card-price {
  margin-top: 28px;
  color: #FFF;
  font-family: "Gilroy";
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 700;
}

.banner__card-organic-matters {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 30px;
  color: #FFF;
  font-family: "Gilroy-light";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 300;
}

.banner__card-line {
  content: "";
  background: rgba(255, 255, 255, 0.1);
  max-width: 612px;
  min-height: 1px;
  margin-left: -25px;
  margin-top: 5px;
  margin-bottom: 5px;
}
@media screen and (max-width: 930px) {
  .banner__card-line {
    margin-left: 0;
  }
}

.banner__card-matters-quantity {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  color: #FFF;
  font-family: "Gilroy-light";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
}
@media screen and (max-width: 930px) {
  .banner__card-matters-quantity {
    padding-bottom: 20px;
  }
}

.card__slider {
  margin-top: 100px;
}

.card__slider-line-title {
  display: flex;
  gap: 19px;
  align-items: center;
}

.card__slider-line {
  min-height: 33px;
  width: 4px;
  background: #618967;
}

.card__slider-title {
  color: #FFF;
  font-family: "Gilroy";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}

.card__grid-template {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media screen and (max-width: 1260px) {
  .card__grid-template {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1150px) {
  .card__grid-template {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 660px) {
  .card__grid-template {
    grid-template-columns: repeat(4, 1fr);
    overflow-x: auto;
  }
}

.card__items {
  max-width: 325px;
  margin-top: 50px;
  border-radius: 10px;
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
}
@media screen and (max-width: 1260px) {
  .card__items {
    max-width: 650px;
    max-height: 650px;
  }
}
@media screen and (max-width: 1150px) {
  .card__items {
    max-width: 1100px;
    max-height: 1100px;
  }
}

.card__picture {
  max-width: 325px;
  max-height: 325px;
}
@media screen and (max-width: 1260px) {
  .card__picture {
    max-width: 650px;
    max-height: 650px;
  }
}
@media screen and (max-width: 1260px) and (max-width: 1150px) {
  .card__picture {
    max-width: 1100px;
    max-height: 1100px;
  }
}

.card__img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
}

.card__info-block {
  display: flex;
  align-items: center;
  margin-top: 14px;
  margin-left: 20px;
  gap: 192px;
}
@media screen and (max-width: 1370px) {
  .card__info-block {
    margin-left: 5px;
  }
}
@media screen and (max-width: 1260px) {
  .card__info-block {
    margin-left: 20px;
    gap: 440px;
  }
}

.card__info {
  color: #FFF;
  font-family: "Gilroy";
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
}

.card__weight {
  color: #FFF;
  font-family: "Gilroy-light";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
}

.card__desc {
  margin-top: 5px;
  margin-left: 20px;
  color: #CFCFCF;
  font-family: "Gilroy-light";
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.0625rem;
}
@media screen and (max-width: 1370px) {
  .card__desc {
    margin-left: 5px;
  }
}
@media screen and (max-width: 1260px) {
  .card__desc {
    margin-left: 20px;
  }
}

.card__buy-price-block {
  display: flex;
  align-items: center;
  gap: 76px;
  margin-top: 66px;
  margin-left: 20px;
  padding-bottom: 18px;
}
@media screen and (max-width: 1370px) {
  .card__buy-price-block {
    margin-left: 5px;
  }
}
@media screen and (max-width: 1260px) {
  .card__buy-price-block {
    margin-left: 20px;
    gap: 340px;
  }
}

.card__buy-price-block-2 {
  display: flex;
  align-items: center;
  gap: 101px;
  margin-top: 32px;
  margin-left: 20px;
  padding-bottom: 18px;
}
@media screen and (max-width: 1370px) {
  .card__buy-price-block-2 {
    margin-left: 5px;
  }
}
@media screen and (max-width: 1260px) {
  .card__buy-price-block-2 {
    margin-left: 20px;
    gap: 365px;
  }
}
@media screen and (max-width: 660px) {
  .card__buy-price-block-2 {
    margin-top: 89px;
  }
}

.card__buy-price-block-5 {
  display: flex;
  align-items: center;
  gap: 101px;
  margin-top: 32px;
  margin-left: 20px;
  padding-bottom: 18px;
}
@media screen and (max-width: 1370px) {
  .card__buy-price-block-5 {
    margin-left: 5px;
  }
}
@media screen and (max-width: 1260px) {
  .card__buy-price-block-5 {
    margin-left: 20px;
    gap: 365px;
  }
}
@media screen and (max-width: 660px) {
  .card__buy-price-block-5 {
    margin-top: 55px;
  }
}

.card__buy-price-block-3 {
  display: flex;
  align-items: center;
  gap: 101px;
  margin-top: 66px;
  margin-left: 20px;
  padding-bottom: 18px;
}
@media screen and (max-width: 1370px) {
  .card__buy-price-block-3 {
    margin-left: 5px;
  }
}
@media screen and (max-width: 1260px) {
  .card__buy-price-block-3 {
    margin-left: 20px;
    gap: 365px;
  }
}
@media screen and (max-width: 660px) {
  .card__buy-price-block-3 {
    margin-top: 89px;
  }
}

.card__buy-price-block-4 {
  display: flex;
  align-items: center;
  gap: 89px;
  margin-top: 32px;
  margin-left: 20px;
  padding-bottom: 18px;
}
@media screen and (max-width: 1370px) {
  .card__buy-price-block-4 {
    margin-left: 5px;
  }
}
@media screen and (max-width: 1260px) {
  .card__buy-price-block-4 {
    margin-left: 20px;
    gap: 350px;
  }
}

.card__price {
  color: #FFF;
  font-family: "Gilroy";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
}

.card__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Gilroy-light";
  gap: 25px;
  background: #618967;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 13px 16px 14px 19px;
}

.card__paragraph-container {
  max-width: 249px;
}

.card__info-block-3 {
  display: flex;
  align-items: center;
  margin-top: 14px;
  margin-left: 20px;
  gap: 152px;
}
@media screen and (max-width: 1370px) {
  .card__info-block-3 {
    margin-left: 5px;
  }
}
@media screen and (max-width: 1260px) {
  .card__info-block-3 {
    margin-left: 20px;
  }
}
@media screen and (max-width: 1260px) {
  .card__info-block-3 {
    gap: 410px;
  }
}

.card__info-block-4 {
  display: flex;
  align-items: center;
  margin-top: 14px;
  margin-left: 20px;
  gap: 148px;
}
@media screen and (max-width: 1370px) {
  .card__info-block-4 {
    margin-left: 5px;
  }
}
@media screen and (max-width: 1260px) {
  .card__info-block-4 {
    margin-left: 20px;
    gap: 400px;
  }
}

.map__block {
  margin-top: 50px;
  position: relative;
}

.map__picture {
  max-width: 1440px;
}

.map__bg-img {
  width: 100%;
  border-radius: 10px;
}
@media screen and (max-width: 930px) {
  .map__bg-img {
    display: none;
  }
}

.map__card-loc {
  border-radius: 15px;
  background: #2E2B2C;
  box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.15);
  max-width: 526px;
  max-height: 605px;
  position: absolute;
  top: 50px;
  left: 109px;
}
@media screen and (max-width: 1390px) {
  .map__card-loc {
    max-height: 305px;
    top: 10px;
    left: 40px;
  }
}
@media screen and (max-width: 1390px) and (max-width: 930px) {
  .map__card-loc {
    max-width: 826px;
  }
}

.map__contact {
  color: #FFF;
  font-family: "Gilroy";
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  padding: 25px 0px 26px 43px;
  border-bottom: 1px solid grey;
}
@media screen and (max-width: 1390px) {
  .map__contact {
    padding-top: 5px;
    padding-bottom: 0px;
  }
}

.map__info {
  display: flex;
  gap: 11px;
  margin-top: 43.74px;
  margin-left: 52px;
}
@media screen and (max-width: 1390px) {
  .map__info {
    margin-top: 10px;
  }
}
@media screen and (max-width: 930px) {
  .map__info {
    margin-left: 25px;
  }
}

.map__desc {
  color: #CFCFCF;
  font-family: "Gilroy-light";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
}

.map__desc-adress {
  margin-left: 82px;
  color: #FFF;
  font-family: "Gilroy";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
}
@media screen and (max-width: 930px) {
  .map__desc-adress {
    margin-left: 52px;
  }
}

.map__mail {
  display: flex;
  gap: 11px;
  margin-top: 21px;
  margin-left: 52px;
}
@media screen and (max-width: 1390px) {
  .map__mail {
    margin-top: 10px;
  }
}
@media screen and (max-width: 1390px) and (max-width: 930px) {
  .map__mail {
    margin-left: 25px;
  }
}

.map__gmail {
  color: #CFCFCF;
  font-family: "Gilroy-light";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
}

.map__gmail-adress {
  color: #FFF;
  font-family: "Gilroy";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  margin-left: 85px;
  margin-bottom: 28px;
}
@media screen and (max-width: 1390px) {
  .map__gmail-adress {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 930px) {
  .map__gmail-adress {
    margin-left: 52px;
  }
}

.map__gmail-border {
  border-bottom: 1px solid grey;
}
@media screen and (max-width: 660px) {
  .map__gmail-border {
    border-bottom: none;
  }
}

.map__btn-contact {
  display: flex;
  align-items: center;
  gap: 33px;
}

.map__btn {
  margin-top: 17px;
  border: none;
  margin-left: 52px;
  padding: 22px 30px;
  border-radius: 10px;
  background: linear-gradient(115deg, #618967 5.11%, #72A479 94%);
  color: #FFF;
  font-family: "Gilroy";
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
}
@media screen and (max-width: 660px) {
  .map__btn {
    padding: 10px 15px;
  }
}
@media screen and (max-width: 660px) {
  .map__btn {
    margin-top: 0;
    display: none;
  }
}

.map__phone {
  color: #FFF;
  font-family: "Gilroy";
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 700;
}
@media screen and (max-width: 660px) {
  .map__phone {
    display: none;
  }
}

.map__phone-desc {
  color: #CFCFCF;
  font-family: "Gilroy-light";
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
}
@media screen and (max-width: 660px) {
  .map__phone-desc {
    display: none;
  }
}

.map__networks {
  display: flex;
  gap: 26px;
  margin-top: 30px;
  margin-bottom: 24px;
  margin-left: 152px;
}
@media screen and (max-width: 660px) {
  .map__networks {
    margin-top: 10px;
  }
}
@media screen and (max-width: 660px) {
  .map__networks {
    display: none;
  }
}

.map__networks-title {
  color: #FFF;
  font-family: "Gilroy";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
}

.map__networks-icons {
  display: flex;
  gap: 10px;
}

/*# sourceMappingURL=style.css.map */
