.banner
    display: flex
    margin-top: 44px
    gap: 20px
.banner__arrow
    background: #618967
    border-radius: 50%
    transform: rotate(-90deg)
    padding: 10px 25px
.banner__title
    color: #FFF
    font-family: Gilroy
    font-size: 1.5rem
    font-style: normal
    font-weight: 600
