.footer
    background: linear-gradient(271deg, #44403F 0.4%, #211F20 100%)

.footer__container
    display: flex
    align-items: center
    gap: 50px
    padding: 50px 0px

.footer__info-box
    color: #CFCFCF
    font-family: 'Gilroy-light'
    font-size: 12px
    font-style: normal
    font-weight: 500
    line-height: normal

.footer__link-box
    display: flex
    flex-direction: column
    gap: 5px

.footer__link
    text-decoration: underline
    color: #FFF
    font-family: 'gilroy-light'
    font-size: 14px
    font-style: normal
    font-weight: 500
    line-height: normal
