.search__field
    border: none
    outline: none
    background: none

.header__search
    display: flex
    align-items: center
    justify-content: space-between
    padding: 14px 17px
    border-radius: 10px
    background: #504B4A
